.flake8
.github/
.readthedocs.yml
.readthedocs_environment.yml
build/
invest/src/natcap.invest.egg-info/
invest/src/natcap/invest/delineateit/delineateit_core.cpp
invest/src/natcap/invest/internationalization/locales/es/LC_MESSAGES/messages.mo
invest/src/natcap/invest/internationalization/locales/zh/LC_MESSAGES/messages.mo
invest/src/natcap/invest/ndr/ndr_core.cpp
invest/src/natcap/invest/recreation/out_of_core_quadtree.cpp
invest/src/natcap/invest/scenic_quality/viewshed.cpp
invest/src/natcap/invest/sdr/sdr_core.cpp
invest/src/natcap/invest/seasonal_water_yield/seasonal_water_yield_core.cpp
output/
data/sample/pollination/landcover.tif.aux.xml
data/sample/pollination/pollinator_abundance/pollinator_abundance*
